.dropdown {
    position: relative;
}

.dropdown__toggle {
    position: relative;
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.dropdown__toggle>i {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--txt-color);
}

.dropdown__toggle>span {
    position: absolute;
    top: -8px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--second-color);
    color: white;
    padding: 5px;
}

.dropdown__content {
    position: absolute;
    right: 0;
    top: 60px;
    margin-right: 20px;
    background-color: var(--main-bg);
    border-radius: var(--border-radius);
    transform-origin: right top;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    cursor: pointer;

}

.dropdown__content.active {
    transform: scale(1);
    transition: transform 0.5s var(--transition-cubic);
}