.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    height: var(--topnav-height);
}

.topnav__search {
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: var(--box-shadow);
    height: 50px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.topnav__search>input {
    height: 100%;
    width: 100%;
    padding: 10px 60px 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    color: var(--txt-color);
    font-size: 1rem;
    background-color: var(--main-bg);
}

.topnav__search>input:focus {
    border: 1px solid var(--main-color);
}

.topnav__search>input:focus {
    outline: none !important;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 10px #719ECE;
}

.topnav__search>i {
    position: absolute;
    right: 7px;
    font-size: 1.5rem;
}

.topnav__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav__right__item~.topnav__right__item {
    margin-left: 30px;
}

.dropdown__items {
    display: flex;
    align-items: center;
    width: max-content;
    max-width: 400px;
    padding: 15px;

}

.dropdown__items>i {
    margin-right: 15px;
    font-size: 1.9rem;
}

.user_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__image>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user_name {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--txt-color);
}

.dropdown__items:hover {
    color: var(--main-color);
}