.layout {
    color: var(--txt-color);
    min-height: 100vh;
}

.content {
    padding-left: var(--sidebar-width);
    background-color: var(--second-bg);
    min-height: 100vh;
}

.content__main {
    padding: 30px;
}